<div align="center"><h3>Bring on a new technician</h3></div>

<% if @tech.errors.any? %>
<h4>The following errors prevented the new tech from being saved</h4>
	<ul>
		<% @tech.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @tech do |f| %>

	<%= f.label :firstname %>
	<%= f.text_field :firstname %>

	<%= f.label :lastname %>
	<%= f.text_field :lastname %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.submit "Create!" %>

<% end %>