<% title "Add a new car" %>

<div align="center"><h3>Add a new car</h3></div>

<% if @car.errors.any? %>
<h4>The following errors prevented the new car from being saved</h4>
	<ul>
		<% @car.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>


<%= form_for [current_customer, @car] do |f| %>

	<%= f.hidden_field :customer_id %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<%= f.label "Year" %>
				<%= f.text_field :year, class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<%= f.label "Make" %>
				<%= f.text_field :make, class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<%= f.label "Model" %>
				<%= f.text_field :model, class: "form-control" %>
			</div>
		</div>
	<br>
	<%= f.submit "Create!" %>

	</div>

<% end %>