<div align="center"><h3>Viewing all repairs for your <%= @car.ymm %></h3></div>

<% @repairs.each do |repair| %>

	Repair id: <%= repair.id %><br />
	Your initial request: <%= repair.customercomments %><br />
	Technician notes / recommendations:<%= repair.technotes %><br />
	Repair total: $<%= repair.actualtotal %><br />
	Repair status: <% if repair.open %>Open<% else %>Closed<% end %>

<% end %>