<div align="center"><h3>Open a new repair request</h3></div>

<% if @repair.errors.any? %>
<h4>The following errors prevented the new repair order from being opened</h4>
	<ul>
		<% @repair.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

Customer first name: <%= @customer.firstname %><br>
Customer last name: <%= @customer.lastname %><br>
Customer phone number: <%= @customer.phone %><br>
Customer email address: <%= @customer.email %><br>
<br>
Opening repair order for your <%= @car.ymm %>

<%= form_for [@customer, @car, @repair] do |f| %>

	<%= f.hidden_field :customer_id, :value => @customer.id %>
	<%= f.hidden_field :car_id, :value => @car.id %>
	<%= f.hidden_field :tech_id, :value => "2" %>

	<%= f.label "Enter comments / concerns:" %><br>
	<%= f.text_area :customercomments %>

	<%= f.submit "Submit new request" %>

<% end %>