<!DOCTYPE html>
<html>
  <head>
    <title>Shop Manager - <%= content_for?(:title) ? yield(:title) : "Manage your shop workflow" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Shop Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <%if customer_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "View my cars", customer_cars_path(current_customer.id, @cars), class: "dropdown-item" %>
                <%= link_to "Add a new car", new_customer_car_path(current_customer.id), class: "dropdown-item" %>
                <a class="dropdown-item" href="#">Check the status of my repairs</a>
                <%= link_to "Edit my details", edit_customer_path(current_customer.id), class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Customers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">View customers with open repair orders</a>
              <%= link_to "View all customers", customers_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Techs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "View all techs", teches_path, class: "dropdown-item" %>
              <%= link_to "Add a new tech", new_tech_path, class: "dropdown-item" %>
              <!-- <a class="dropdown-item" href="#">Add a new tech</a> -->
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Repairs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Open repair orders</a>
              <a class="dropdown-item" href="#">Closed repair orders</a>
            </div>
          </li>
          <li class="nav-item">
            <% if customer_signed_in? %>
              <li>
              <%= link_to('Logout', destroy_customer_session_path, method: :delete, class: "nav-link") %>        
              </li>
            <% else %>
              <li>
              <%= link_to('Login', new_customer_session_path, class: "nav-link") %>  
              </li>
            <% end %>
<!--             <a class="nav-link" href="#">Logout</a> -->
          </li>
        </ul>
<!--         <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
